.listing {
  background: var(--accent-color);
  border-radius: 20px;
  padding-bottom: 15px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 220px;
  height: 250px;

}
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
  height: 50px;
}

.listing-photo {
  height: 130px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.listing-location {
  padding: 10px 20px 0px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.listing-location::before {
  content: url("/assets/pin.png") / "";
  height: max-content !important;
}
section.listing a {
  padding: 0px 20px 0px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}